<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen flex items-center justify-center bg-black">
        <h1 class="text-9xl text-yellow-400 font-bold">COMING SOON</h1>
    </div>
</body>
</html>