<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="w-full h-screen bg-zinc-300 flex items-center justify-center">
        <div class="p-8 text-center bg-zinc-100 rounded">
            <h1 class="text-3xl font-semibold mb-6">Welcome to <br> Omegle Clone</h1>
            <a href="/chat" class="px-4 py-2 bg-blue-600 text-white font-semibold rounded">Start Chatting</a>
        </div>
    </div>
</body>
</html>